.MidContainer{
border: 0.5px solid rgb(48, 46, 46);
width: 40rem;
}

.header{
    display: flex;
    /* background-color: firebrick; */
    /* padding: 15px; */
    align-items: center;
}

#foryou{
    /* background-color:violet; */
    padding: 17px 105px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

#following{
    /* background-color: aqua; */
    padding: 17px 115px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: gray
}

.header img{
    width: 20px;
    height: 20px;
    /* background-color:rebeccapurple; */
    padding: 10px 10px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
}

#foryou:hover,#following:hover,.header img:hover{
    background-color: rgb(25, 25, 25);
}

.PostContainer{
    
}

/* #UserImg{
    width: 25px;
} */
