
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Karla:wght@300&family=Oswald:wght@600&family=Poppins:wght@500&display=swap');


.MidContainer {
  border: 0.5px solid rgb(48, 46, 46);
  border-top: 0px;
  width: 37rem;
  /* background-color: black; */
  
}

.header {
  display: flex;
  /* background-color: firebrick; */
  /* padding: 15px; */
  align-items: center;
  position: sticky;
  top: 0px;
  /* margin-bottom: 50px; */
  border-bottom: 0.5px solid rgb(48, 46, 46);;
}

#foryou {
  /* background-color:violet; */
  padding: 17px 105px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

#following {
  /* background-color: aqua; */
  padding: 17px 110px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: gray;
}

.header img {
  width: 20px;
  height: 20px;
  /* background-color:rebeccapurple; */
  padding: 5px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
}

#foryou:hover,
#following:hover,
.header img:hover {
  background-color: rgb(25, 25, 25);
}

.PostContainer {
  border: 0.5px solid rgb(48, 46, 46);
  height: fit-content;
  padding: 10px;
  /* background-color: saddlebrown; */
  display: flex;
  flex-direction: column;
  border-top: none;
}

#UserImg {
  width: 40px;
  height: 40px;
  /* background-color: rebeccapurple; */
  border-radius: 50%;
  margin: 3px;
}

.topbar {
  display: flex;
}

.topbar input {
  width: 33vw;
  margin: auto;
  padding: 15px 10px 15px 0px;
  font-size: 20px;
  /* background-color: palegreen; */
  background-color: black;
  border: none;
  color: white;
}

.topbar input::placeholder {
  /* background-color: red; */
  width: 32vw;
  padding: 0px;
  margin-left: 10px;
  color: gray;
}

.topbar input[type="text"]:focus {
  outline: none;
}

.Input-Popup {
  font-family: 'Poppins', sans-serif;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  /* background-color: gray; */
  display: flex;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  color: rgb(2, 180, 239);
  /* color: black; */
  margin-left: 45px;
}

.Input-Popup img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.PostContainer-hr hr{
  width: 32rem;
  border: .5px solid rgb(48, 46, 46);
  margin: 5px 60px 0px 40px;
  /* outline: none;   */
}

.bottom-bar{
  /* background-color: brown;   */
  /* padding: 10px; */
  margin: 10px auto 0px auto;
  display: flex;
  width: 34rem;
}

.imgContainer{
  display: flex;
  /* background-color: palevioletred; */
  margin: 0px 40px;
  /* padding: 5px; */
}

.imgContainer img{
  width: 20px;
  margin: 0px 5px 0px 0px;
  padding: 5px 5px;
  /* background-color: red; */
}

.imgContainer img:hover{
  background-color: rgb(25, 25, 25);
  border-radius: 50%;
  outline: none;
  border: none;
}

.postBtnContent{
  /* background-color: firebrick; */
  /* padding: 10px; */
  width: 100px;
  display: flex;
  border: none;
  justify-content: center;
  margin-left: 150px;
}

.postBtnContent button{
  /* padding: 0px 25px; */
  width: 70px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  background-color: rgb(29, 155, 240);
}