
* {
  margin: 0;
  padding: 0;
  
}

.nav {
  width: 18vw;
  /* background-color: pink;
   */
  /* color: red; */
  height: 100vh;
  background-color: black;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
  }  

.logo img {
    
  width: 40px;
}

.Nav-contents{
    text-align: center;
}

ul a{
    text-decoration: none;
}

ul li{
  /* background-color: blue; */
  list-style:none;
  font-size: 22px;
  display: flex;
  cursor: pointer;
  font-weight:500;
  color: white;
}

#navHome,#navExplore,#navNotification,#navMessages,#navLists,#navCommunities,#navPremium,#navProfile,#navMore{
    /* background-color: red; */
    display: flex;
    width: fit-content;
    padding: 13px 25px 12px 12px ;
}

li img {
    width: 25px;
    margin: 0px 20px 0px 5px;
  }

&:has(#home-li:hover)
#navHome{
    border-radius: 30px;
    background-color: rgb(25, 25, 25);
    
}

&:has(#explore-li:hover)
#navExplore{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#notification-li:hover)
#navNotification{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#messages-li:hover)
#navMessages{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#lists-li:hover)
#navLists{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#communities-li:hover)
#navCommunities{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#premium-li:hover)
#navPremium{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#profile-li:hover)
#navProfile{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#more-li:hover)
#navMore{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

#Post-btn{
    padding: 15px 100px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#Post-btn:hover{
    background-color: rgb(25, 146, 228);
}

.userInfo{
    display: flex;
    border-radius: 50px;
    justify-content: space-around;
    padding: 10px;
    width:13rem;
    position: fixed;
    bottom: 0;
    margin: 0 10pxn;
    /* background-color: rebeccapurple; */
}

.userInfo:hover{
    background-color: rgb(25,25,25);
}

.userInfo img{
    /* background-color: pink; */
    width: 35px;
}

.name{
    font-weight: 800;
}

.username{
    color: rgb(133, 127, 138);
    font-weight: 100;
}

