
* {
  margin: 0;
  padding: 0;
  
}

.logo {
  margin-left: 10px;
}

.nav {
  width: 16vw;
  height: 100vh;
  padding: 10px 0 0 0;
  /* background-color: pink; */
  /* color: red; */
}

.logo img {
  width: 40px;
}

ul li{
  /* background-color: blue; */
  list-style: none;
  font-size: 22px;
  display: flex;
  cursor: pointer;
  font-weight:500;
}

#navHome,#navExplore,#navNotification,#navMessages,#navLists,#navCommunities,#navPremium,#navProfile,#navMore{
    /* background-color: red; */
    display: flex;
    width: fit-content;
    padding: 13px 25px 12px 12px ;
}

li img {
    width: 25px;
    margin: 0px 20px 0px 5px;
  }

&:has(#home-li:hover)
#navHome{
    border-radius: 30px;
    background-color: rgb(25, 25, 25);
    
}

&:has(#explore-li:hover)
#navExplore{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#notification-li:hover)
#navNotification{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#messages-li:hover)
#navMessages{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#lists-li:hover)
#navLists{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#communities-li:hover)
#navCommunities{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#premium-li:hover)
#navPremium{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#profile-li:hover)
#navProfile{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

&:has(#more-li:hover)
#navMore{
    border-radius: 30px;
    background-color: rgb(25,25,25);
    
}

#Post-btn{
    margin-top: 5px;
    padding: 17px 100px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}

