.ThirdContainer{
    /* background-color: orange; */
    width: 25.3rem;
    position: absolute;     
    right: 0px;
    height: 165vh;
}

.topSearchBar{
    background-color:black;
    padding: 5px;
    display: flex;
    /* height: 45px; */
    justify-content: center;
    /* align-items: center; */
    /* border-radius: 30%; */
    position: sticky;
    top: 0px;
    /* overflow: auto; */
    z-index: 1;
}

.imgContent{
    background-color: rgb(25, 23, 23);
    /* background-color: rgb(101, 13, 13); */
    display: flex;
    padding: 11px 5px 12px 15px ;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.topSearchBar img{
    width: 20px;
    height: 20px;
    padding: auto 0px auto 5px;
    margin: auto;
    /* margin-left: 10px; */
    /* background-color:rebeccapurple;  */
}

/* &:has(.imgContent :focus)
.topSearchBar input{
    background-color: red;
} */

.topSearchBar input {
    background-color: rgb(25, 23, 23);

    /* background-color: firebrick; */
    width: 19rem;
    padding:15px 10px 10px 10px ;
    border: none;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    outline: none;
    color:beige;
    font-size: 15px;
}

.topSearchBar input::placeholder{
    font-size: 15px;
    font-weight: 100;
    /* background-color: wheat; */
}

.bottomContainer{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: red; */
}

.PremiumBox{
    background-color: rgb(25, 23, 23);
    padding: 15px 20px;
    border-radius: 15px;

}

.PremiumBox h1{
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 900;
}

.PremiumBox p{
    margin-bottom: 10px;
    font-weight: 100
}

#SubscribeBtn{
    background-color: rgb(29, 155, 240);
    padding: 10px 17px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

#SubscribeBtn:hover{
    background-color: rgb(25, 146, 228);
}

.TrendingBox{
    background-color: rgb(25, 23, 23);
    /* background-color: firebrick; */
    /* padding: 0px 0px 10px 0px; */
    border-radius: 15px;
}

.TrendingBox a{
    text-decoration: none;
}

.TrendingBox h1{
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 900;
    padding: 10px 15px 5px 15px;
}

.Trend-Container{
    /* background-color: rgb(91, 9, 105); */
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Trend-Container:hover{
    /* background-color: red; */
    cursor: pointer;
    background-color: rgb(38, 37, 37);
    /* border-radius: 15px; */
}

.Trend-Container div{
    /* padding: 10px; */
    height: 10vh;
    /* background-color: blue; */
}

.Trend-Container div .top-span{
    font-size: 13.7px;
    color:rgb(113, 118, 123);
    /* background-color: rosybrown; */
    padding: 0px 0px;
    margin-top: 2px;
}

.Trend-Container div h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.Trend-Container img{
    width: 80px;    
    border-radius: 15px;   
}

.threeDots{
    position: absolute;
    right: 10px;
    color: rgb(113, 118, 123);
}

.bottom-span{
    /* padding: 10px; */
    /* background-color: red; */
    color:rgb(113, 118, 123);
    /* margin:10px; */
    font-size: 13.7px;
}

/* .Trend-Container:last-of-type */

.Trend-Container:last-of-type{
    padding: 10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.showMore{
    font-weight: 300;
    color: rgb(0, 166, 255);
    /* background-color: red; */
    /* height: 30px; */
    padding: 30px auto;
    margin: auto 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.FollowContainer{
    border-radius: 15px;
    /* background-color: red; */
    background-color: rgb(25, 23, 23);
    border-radius: 15px;

}

.FollowContainer h1{
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 900;
    padding: 10px 15px 5px 15px;
}

.FollowContainer section{
    padding: 10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.FollowContainer section:hover{
    background-color: rgb(38, 37, 37);
}