.ThirdContainer{
    background-color: orange;
    width: 25.3rem;
}

.topSearchBar{
    background-color: saddlebrown;
    padding: 5px;
    display: flex;
    /* height: 45px; */
    justify-content: center;
    /* align-items: center; */
    /* border-radius: 30%; */
}

.imgContent{
    background-color: rgb(54, 51, 51);
    display: flex;
    padding: 11px 10px 12px 10px ;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.topSearchBar img{
    width: 20px;
    padding: 0px 0px 0px 5px;
    /* background-color:rebeccapurple;  */
}

.topSearchBar input {
    background-color: rgb(54, 51, 51);
    /* background-color: firebrick; */
    width: 20rem;
    padding:15px 10px 10px 10px ;
    border: none;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    outline: none;
    color:beige;
    font-size: 15px;
}

.topSearchBar input::placeholder{
    font-size: 20px;
    font-weight: 100;
    /* background-color: wheat; */
}
