.ContentContainer{
    /* background-color: rgb(66, 43, 43); */
    padding: 10px 10px 0px 10px ;
    border: .5px solid rgb(48, 46, 46);
}

.ContentBox{
    display: flex;
    position: relative;
    /* background-color: pink; */
}

.ContentBox img{
    width: 40px;
  height: 40px;
  /* background-color: rebeccapurple; */
  border-radius: 50%;
  /* margin: 3px; */
  cursor: pointer;

}


.postUserInfoBox{
    margin: 2px 10px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.postUserInfoBox h4{
    font-size: 15px;
    font-weight: 600;
}

.postUserInfoBox span{
    color: gray;
}

.postContent{
    margin: 5px 10px;
    /* background-color: red; */
    font-weight: 100;
    font-size: 15.5px;
}

.ContentBox section{
    color: rgb(113, 118, 123);
    position:absolute;
    right: 0px;
    cursor: pointer;
    padding: 2.5px 5px;
}

.ContentBox section:hover{
    color: rgb(255, 0, 51);
    background-color: rgb(17, 38, 92);
    border-radius: 50%
}

.PostAction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 8px 0px 5px 50px;
    /* background-color: red; */
    max-width: 34vw;
    
}

.PostAction img{
    cursor: pointer;
    width: 18px;
    /* margin: 0px 5px 0px 0px; */
    padding: 10px 10px;
    /* background-color: rebeccapurple; */
    filter: invert(49%) sepia(7%) saturate(381%) hue-rotate(172deg) brightness(92%) contrast(83%);
    /* background-color: green; */
    border-radius: 15px;
}

.likebtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.likebtn span{
    /* font-size: 20px; */
    font-weight: 600;
    margin: 0px 10px;
}

.likebtn:hover{
    /* background-color: rgb(255, 255, 255); */
    /* filter: invert(19%) sepia(97%) saturate(4170%) hue-rotate(322deg) brightness(101%) contrast(95%);; */
    /* background-image: url('D:\Rohit Coding Resources\React Practice\twitter-clone\public\like2.png'); */
    /* background-image: url('public/like2.png'); */
    /* color: rebeccapurple; */
    filter: invert(19%) sepia(97%) saturate(4170%) hue-rotate(322deg) brightness(101%) contrast(95%);
    background-color:rgba(249, 24, 128, 0.1);
    border-radius: 50px;
}

#like2{
    filter: invert(19%) sepia(97%) saturate(4170%) hue-rotate(322deg) brightness(101%) contrast(95%);

}

#share{
    margin-left: -80px;
}
/* #comment{
    width: 45px;
    padding: 0px;
    border-radius: 25px;
} */

/* Popup Msg  */

.overlay{
    background-color: rgb(19, 12, 12);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
}

.popupMsgContentBox{
    /* background-color: rgb(0, 0, 0); */
    color: black;
    width: 5vw;
    height: 10vh;
    position: absolute;
    top: 0%;
    right: 0%;
    box-sizing: border-box;
    z-index: 2;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popupMsgContentBox button{
    position: absolute;
    right: 1px;
    top: 2px;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 50%;
    border: none;
}

.popupMsgContentBox button:hover{
    color: rgb(255, 0, 51);
    background-color: rgb(17, 38, 92);
}

.Action{
    margin: 25px auto 0px auto;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 2px ;
}

.Action h4{
    padding: 3px 15.5px;
}

.Action #EditAction{
    color: rgb(18, 169, 219);
    background-color:black;
}

.Action #EditAction:hover{
    background-color: rgb(18, 169, 219);
    color: black;
}

.Action #DeleteAction{
    color: red;
    background-color: black;
}

.Action #DeleteAction:hover{
    background-color: rgb(255, 0, 0);
    color: black;
}