@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Oswald:wght@600&family=Poppins:wght@500&display=swap");

.Container{
  background-color: black;
  font-family: "Karla", sans-serif;
}

.twitter-body{
  color: white;
  width: 80vw;
  height: 100vh;
  margin:auto;
  /* background-color: gray; */
}